<script src="/js/manage.js" type="text/javascript" charset="utf-8"></script>



<div id="manage">
  <h1 id="current">0</h1>
  <button id="previous">&lt;-</button>
  <button id="next">-&gt;</button>
</div>
