script(src="/js/manage.js", type="text/javascript", charset="utf-8")



#manage
  h1
    span#current 0
    /
    span#max 0

  button#previous &lt;-
  button#next -&gt;

  h2#slide-title
  div#speaker-note



