

<div class="slide" >

  <h1 >Node.js - Geek Collision v0.4.1</h1>

  <ul>
    <li>Foo bar</li>
    <li>Foo bar 2</li>

  </ul>

</div>


<div class="slide active" >

  <h1 >Wut?</h1>

  <ul>
    <li>Set of I/O libs on top of Google's V8</li>
    <li>Javascript</li>
    <li>Asynchronous </li>

  </ul>

</div>


<div class="slide active" >

  <h1 >slide 3</h1>

  <ul>
    <li>Kolmas slide</li>

  </ul>

</div>



<div class="slide active" >

  <h1 >slide 3</h1>

  <ul>
    <li>Kolmas slide</li>

  </ul>

</div>
