script(src="/js/client.js", type="text/javascript", charset="utf-8")


.slide
  h1 Node.js talk @ Geek Collision v0.4.1
  ul
    li
      b Who:
      a(href="http://esa-matti.suuronen.org") Esa-Matti Suuronen
    li 
      b Email: 
      span esa-matti ät suuronen.org
    li
      b Twitter: 
      a(href="http://twitter.com/EsaMatti") EsaMatti
    li
      b IRC: 
      span Epeli @ IRCnet/Freenode

  .speaker Speaker notes

.slide
  h1 hello 2

  .speaker Speaker nnotes e2

.slide 
  h1 hello 3

.slide
  h1 hello 4

