<script src="/js/client.js" type="text/javascript" charset="utf-8"></script>

<div class="slide" >

  <h1 >Node.js talk @ Geek Collision v0.4.1</h1>

  <ul>
    <li><a href="http://esa-matti.suuronen.org">Esa-Matti Suuronen</a></li>
    <li>Email: esa-matti ät suuronen dot org</li>
    <li>Twitter: <a href="http://twitter.com/EsaMatti">EsaMatti</a></li>
    <li>IRC: Epeli @ IRCnet/Freenode</li>
  </ul>

</div>


<div class="slide active" >

  <h1 >Wut?</h1>

  <ul>
    <li>Set of I/O libs on top of Google's V8</li>
    <li>Javascript</li>
    <li>Asynchronous </li>

  </ul>

</div>


<div class="slide active" >

  <h1 >slide 3</h1>

  <ul>
    <li>Kolmas slide</li>

  </ul>

</div>



<div class="slide active" >

  <h1 >slide 3</h1>

  <ul>
    <li>Kolmas slide</li>

  </ul>

</div>
